*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img, video {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

.main-container {
  max-width: 1100px;
  margin: auto;
}

.logo {
  color: green;
  text-align: center;
}

.main-menu {
  padding: 0;
  margin: 0;
}

.main-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu__item {
  text-align: center;
}

.main-menu__item:last-child {
  border-right: 0px solid;
}

.main-menu__link {
  padding: 1em 0;
  color: green;
  background-color: whitesmoke;
  transition: all .4s;
}

.main-menu__link:hover {
  color: white;
  background-color: green;
}

.main-footer__item {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.main-banner {
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}

.main-banner__image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.main-banner__title {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  margin: 100px 0;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu__item {
    flex: auto;
    border-right: 1px solid black;
  }

  .main-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: auto;
    max-width: 70%;
  }

  .main-banner__image {
    max-height: 400px;
  }

  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-menu__list.footer {
    display: block;
  }

  .main-menu__item.footer {
    border-right: 0px solid;
  }
}